body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tag-list {
	list-style: none;
	padding: 0;
}

.tag-list-item {
	display: inline;
	padding-right: 5px;
}